@model GuestBook.Models.EventModel

@{
    ViewBag.Title = "Create a new event";
}

<div class="row">
    
    <div class="col-md-8 col-md-offset-2">
        <h2>Create a new event</h2>
        <p>
            @Html.ValidationSummary()
        </p>
        <form action="/event/create" method="post">
            <table class="table" style="margin-top:30px">
                <tr>
                    <td>Name:</td>
                    <td>@Html.TextBoxFor(p => p.Name, new { @class = "form-control" })</td>
                </tr>

                <tr>
                    <td>Date:</td>
                    <td>@Html.TextBoxFor(p => p.Date, new { date_picker = "", @class = "form-control" }) </td>
                </tr>

                <tr>
                    <td>Location:</td>
                    <td>@Html.TextAreaFor(p => p.Location, new { @class = "form-control" }) </td>
                </tr>

                <tr>
                    <td> </td>
                    <td> </td>
                </tr>

                <tr>
                    <td>@Html.ActionLink("Go back to events list", "index", "event", new { @class = "btn btn-default" })</td>
                    <td class="text-right"> <input type="submit" id="submit" class="btn btn-primary" value="Create new event" /> </td>
                </tr>
            </table>
        </form>
    </div>
</div>

