@model GuestBook.Models.EventModel[]

<div class="row">
    <div class="col-xs-6">
        <h2 class="title">Events</h2>
    </div>
    <div class="col-xs-6 text-right">
        <div style="padding-top:20px;">
            <a class="btn btn-default" href="/event/search"><i class="fa fa-search"></i>Find Event</a>
            <a class="btn btn-warning" href="/event/create"><i class="fa fa-plus"></i> New Event</a>
        </div>
    </div>
</div>
<hr style="margin-top:0px;"/>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Guest Count</th>
                <th>Time</th>
                <th>Location</th>
                <th></th>
            </tr>

            @foreach (EventModel specificEvent in Model)
            {
                <tr>
                    <td>@specificEvent.Name</td>
                    <td>@specificEvent.Date.ToString("d MMM yyyy")</td>
                    <td>@specificEvent.GuestCount</td>
                    <td>@specificEvent.Time</td>
                    <td>@specificEvent.Location</td>
                </tr>
            }

        </table>
    </div>
</div>

